In [41]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import MultinomialNB, BernoulliNB, GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [42]:
df = pd.read_csv('grad.csv')
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [43]:
y = df.pop('admit')
X = df

In [44]:
X.head()

   gre   gpa  rank
0  380  3.61     3
1  660  3.67     3
2  800  4.00     1
3  640  3.19     4
4  520  2.93     4

## Split and Scale

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=21)
scalar = StandardScaler().fit(X_train)
X_train = scalar.transform(X_train)
X_test = scalar.transform(X_test)

## Naive Bayes Classifier

In [49]:
GaussianNB().fit(X_train, y_train).score(X_test, y_test)

0.7954545454545454

## Logistic Regression

In [50]:
LogisticRegression().fit(X_train, y_train).score(X_test, y_test)

0.7651515151515151

## Random Forest

In [51]:
RandomForestClassifier().fit(X_train, y_train).score(X_test, y_test)

0.7272727272727273